.tab-dich-vu{
    width: 100%;
    
}

.div-dich-vu{
    display: flex;
    width: 100%;
}

.dich-vu{
    width: 100px;
    height: 100px;
    margin: 50px;
}

.anh-dich-vu{
    width: 100%;
    height: 100%;
    background-size: cover;

}

.taxi{
    background-image: url(d:\dung\code\web\Quan-tri-khach-san\assets\images\co-vn.png);
}

.dich-vu button{
    width: 100%;
    padding: 10px 0;
}