.doi-ngon-ngu {
    display: flex;
    align-items: center;
    margin-right: 100px;
    text-align: center;
}

#logo {
    height: 25px;
}

.language {
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}