.title-khach-doan{
    font-weight: bold;
    font-size: 25px;
    margin-left: 150px;

}

.khach-doan input{
    margin-bottom: 30px;
    font-size: 20px;
}

.khach-doan label{
    font-size: 20px;
}

.khach-doan{
    margin: 20px 100px;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 20px;
    width: fit-content;
}

.submit{
    margin-top: 20px;
    padding: 15px;
    font-size: 15px;
    background-color: #00ddff;
    border-radius: 6px;
}