/* .tabcontent{
  position: relative;
} */

.tab {
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    width: 300px;
    
}

.tab button {
    background-color: #ffff;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    cursor: pointer;
    font-size: 30px;
    height: 80px;
    width: 300px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #394DFF;
  color: #ffff;
}

.tabcontent {
  display: none;
  padding: 16px;
}

