.tab {
    display: flex;
    flex-direction: column;
    width: 250px;
    
}

.tab button {
    background-color: #ffff;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    height: 60px;
    width: 200px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #394DFF;
  color: #ffff;
}

.tabcontent {
  display: none;
  padding: 20px;
  width: 100%;
  background-image: url(assets/images/abstract-blur-luxury-hotel-lobby-background_1339-98452.png);
}

